{% load nested_admin %}
{% if fieldset.name %}
{% if fieldset.is_collapsible %} {% endif %}
{{ fieldset.name }}
{% if fieldset.is_collapsible %} {% endif %}
{% endif %}
{% if fieldset.description %}
{{ fieldset.description|safe }}
{% endif %}
{% for line in fieldset %}
{% if line.fields|length == 1 %}{{ line.errors }}{% else %}{% if "5.0"|django_version_gte %} {% endif %}{% endif %}
{% for field in line %}
{% if not line.fields|length == 1 and not field.is_readonly %}{{ field.errors }}{% endif %}
{% if "5.0"|django_version_gte %}
{% endif %}
{% if field.is_checkbox %}
{{ field.field }}{{ field.label_tag }}
{% else %}
{{ field.label_tag }}
{% if field.is_readonly %}
{{ field.contents }}
{% else %}
{{ field.field }}
{% endif %}
{% endif %}
{% if "5.0"|django_version_gte %} {% endif %}
{% if field.field.help_text %}
{% if "5.0"|django_version_lt %}
{{ field.field.help_text|safe }}
{% else %}
{{ field.field.help_text|safe }}
{% endif %}
{% endif %}
{% endfor %}
{% if "5.0"|django_version_gte and not line.fields|length == 1 %} {% endif %}
{% endfor %}
{% if fieldset.name and fieldset.is_collapsible %} {% endif %}
