{% extends "admin/base_site.html" %} {% load static %} {% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">Survey Designer Admin</a>
</h1>
{% endblock %} {% block extrahead %} {{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" href="/static/css/admin.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<link
  href="/static/admin/css/vendor/select2/select2.css"
  type="text/css"
  media="screen"
  rel="stylesheet"
/>
<link
  href="/static/admin/css/autocomplete.css"
  type="text/css"
  media="screen"
  rel="stylesheet"
/>
<script src="/static/admin/js/vendor/select2/select2.full.js"></script>

<style>
  input {
    text-align: center;
  }

  .fieldMargin {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }

  .d-flex {
    display: flex;
  }
  .margin-t {
    margin-top: 1rem;
  }

  .margin-b {
    margin-bottom: 1rem;
  }
  .margin-l {
    margin-left: 1rem;
  }

  .error-title {
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  .model-title {
    font-weight: 600;
    text-align: right;
    width: 120px;
    margin-right: 0.5rem;
  }
</style>
{% endblock %} {% block content %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %} {% if other_errors %}
  <div>
    {% for key, data in other_errors.items %}
      {% if data.errors %}
        <div class="error-title">{{ key }} Errors:</div>
      {% endif %}
      {% for row_key, value in data.errors.items %}
      <div style="margin-left: 1rem">
        <div>Row: <strong>{{ row_key }}</strong></div>
          <div style="margin-left: 1rem">
            {% for field_key, field_errors in value.items %}
              <div>Column: <strong>{{ field_key }}</strong></div>
              <div style="margin-left: 1rem">
                {% for error in field_errors %}
                  <div>{{ error }}</div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
    {% endfor %}
    {% if data.non_form_errors %}
    <div class="error-title">{{ key }} Other Errors:</div>
    {% endif %} {% for error in data.non_form_errors %}
    <div style="margin-left: 1rem">{{ error }}</div>
    {% endfor %}
    <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem" />
    {% endfor %}
  </div>
  {% endif %} {% if updates %}
  <h2>Updates:</h2>
  <div class="margin-l">
    {% for key, data in updates.items %}
    <div class="error-title">{{ key }}</div>
    <div class="margin-l">
      {% for action_key, model_data in data.items %} {% if model_data %}
      <div class="margin-b margin-t">{{ action_key }}:</div>
      {% for model_name, names in model_data.items %}
      <div class="d-flex">
        <div class="model-title">{{ model_name }}:</div>
        {{ names|join:", " }}
      </div>
      {% endfor %} {% endif %} {% endfor %}
    </div>
    <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem" />

    {% endfor %}
  </div>

  {% endif %}

  {% if user_can_approve %}
    <div class="form-row">
      <div class="fieldWrapper" style="margin-top: 1rem">
        <label for="{{ form.response.id_for_label }}" >Response: </label>
        {{ form.response }} {{ form.response.errors }}
      </div>
    </div>
  {% endif %}

  <div class="submit-row" style="margin-top: 2rem">
    <button
      type="button"
      class="button cancelButton"
      onclick="window.history.back()"
    >
      CANCEL
    </button>
    <input
      type="submit"
      value="Approve"
      class="default"
      name="_save"
      {% if not user_can_approve %}disabled{% endif %}
    />

  </div>
</form>
{% endblock content %}
