# Django
DJANGO_SETTINGS_MODULE="survey_designer.settings"
SECRET_KEY='supersecretkey'
DEBUG=true
ALLOWED_HOSTS='domain.org;localhost;127.0.0.1'
CORS_ALLOWED_ORIGINS='https://domain.org;http://localhost:3000'
ENV=dev

# Database
POSTGRES_USER=postgres
POSTGRES_DB=app_db
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=r00t
POSTGRES_PORT=5432

# Redis cache
REDIS_URL=redis://redis:6379/0

# Sentry
SEND_TO_SENTRY=false
SENTRY_DSN=""
SENTRY_SAMPLE_RATE=0.001

#AWS
AWS_ACCESS_KEY_ID=dev_user
AWS_SECRET_ACCESS_KEY=dev_pass

# Upload to S3
UPLOAD_TO_S3=True
AWS_STORAGE_BUCKET_NAME=media-bucket
AWS_S3_ENDPOINT_URL=http://localhost:9000

#email
EMAIL_HOST=maildev
EMAIL_PORT=1025
EMAIL_HOST_USER=dev
EMAIL_HOST_PASSWORD=dev
EMAIL_USE_TLS=False

IDENTITY_PROVIDER=KEYCLOACK
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_ENDPOINT="https://keycloak.domain.org/realms/survey-designer/protocol/openid-connect/token/introspect"
OIDC_AUTHORIZATION_ENDPOINT="https://keycloak.domain.org/realms/survey-designer/protocol/openid-connect/auth"
OIDC_TOKEN_ENDPOINT="https://keycloak.domain.org/realms/survey-designer/protocol/openid-connect/token"
OIDC_JWKS_ENDPOINT="https://keycloak.domain.org/realms/survey-designer/protocol/openid-connect/certs"
OIDC_CONFIGURATION_ENDPOINT="https://keycloak.domain.org/realms/survey-designer/.well-known/openid-configuration"
OIDC_USERINFO_ENDPOINT="https://keycloak.domain.org/realms/survey-designer/protocol/openid-connect/userinfo"
OIDC_CALLBACK_URL="http://localhost:8080/auth/callback/"
FRONTEND_BASE_DOMAIN="https://domain.org/"

#Clarity
VITE_CLARITY_PROJECT_ID_DEV=
VITE_CLARITY_PROJECT_ID_PROD=
